**/node_modules
**/.next
**/.turbo
**/dist
**/build
**/.env
**/.env.*
!**/.env.example
**/*.tsbuildinfo
.git
.github
.vscode
.idea
*.log
*.tmp
**/coverage
**/.nyc_output
**/.DS_Store
**/.cache
terraform/**/.terraform
terraform/**/terraform.tfstate*
terraform/**/*.tfvars
README.md
docs
